*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
*.properties
/gradle
gradlew.bat
settings.gradle
gradle
.gradle/
app/libs/
/.gradle